// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

// SCSS colors
$standard-white: #ffffff;
$kanban-background: #F5F5F5;
$kanban-header: #EAEAEA;
$kanban-blue: #94BCE5;
$kanban-green: #94E5B3;
$kanban-btn-yellow: #E5C994;
$kanban-btn-red: #E59494;
$kanban-text: #333333;
$primary-text-blue: #042330;

// SCSS font-stacks
$primary-font: 'Open Sans', sans-serif;

// Miscellaneous
textarea,
button,
input.text,
input[type='text'],
input[type='button'],
input[type='submit'],
input.text:focus,
input[type='text']:focus,
input[type='button']:focus,
input[type='submit']:focus,
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  font-family: $primary-font;
}

h1, h2, h3, p {
  font-family: $primary-font;
}

[contenteditable] {
  outline: 0px solid transparent;
}

body {
  background: $kanban-background;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */     
}

.container {
  width: 100vw;
  height: 100vh;
  background: $kanban-background;
  display: flex;
  align-items: center;
  justify-content: center;

  .kanban-container {
    width: 80%;
    height: 60%;
    // background-color: rgb(205, 205, 205);

    .kanban-structure {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: auto 10%;
      grid-template-rows: auto;

      .board {
        display: grid;
        grid-template-columns: repeat(auto-fill, 400px);
        grid-auto-rows: repeat(auto-fill, 100px);
        align-content: center;
        justify-content: center;

        .list {
          width: 350px;
          height: max-content;
          border-radius: 5px;
          background-color: #fff;
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.164);
          // overflow: hidden;
          display: grid;
          // position: relative;
          justify-self: center;
          grid-template-columns: 1fr;
          grid-template-rows: 45px auto;
          margin: 0.5rem 0 0.5rem 0;
          
          .list-header {
            width: 100%;
            height: 100%;
            display: flex;
            place-items: center;
            border-radius: 5px 5px 0px 0px;
            border-bottom: 1px solid #eee;
            background: $kanban-header;
            
            .head-icons {
              display: flex;
              place-self: center;
            }

            .title-container {
              margin-right: auto;
            }

            h1 {
              color: #808080;
              font-size: 18px;
              margin-right: auto;
              // margin-left: 15px;
            }

            i {
              color: #a8a8a8;
            }

            .head-icon {
              color: #a8a8a8;
              cursor: pointer;
            }
            .head-icon:hover {
              color: #a9a9a9;
            }

            .add-title {
              display: block;
              background: transparent;
              width: 125px;
              border-radius: 5px;
              text-indent: 10px;
              font-family: $primary-font;
              height: 25px;
              margin-right: auto;
            }

            .add-title::placeholder {
              font-family: $primary-font;
              font-weight: 500;
            }
            .add-title:focus {
              outline: none;
            }
            .add-title:focus::placeholder {
              visibility: hidden;
            }

            .add-kanban {
              cursor: pointer;
            }

          }

          .list-body {
            width: 100%;
            max-height: max-content;
            display: flex;
            overflow-y: scroll;
            margin-bottom: 10px;
            // place-items: center;

            .list-body_grid {
              width: 100%;
              height: max-content;
              max-height: 425px;
              display: grid;
              grid-template-columns: 1fr;
              grid-template-rows: repeat(auto-fit, 95px);
              gap: 10px;
              padding-top: 10px;

              .item {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: 40px 45px;
                border-radius: 5px;
                // cursor: move;
                background: #FCFCFC;
                border: 1px solid #eeeeee;

                .item-header {
                  height: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  .col {
                    flex-direction: column;
                  }

                  #item-color {
                    width: 60px;
                    height: 9px;
                    border-radius: 5px;
                    // border: 1px solid rgb(255, 255, 255);
                    background: $kanban-blue;
                    margin-right: auto;
                  }

                  #item-color-demo {
                    width: 60px;
                    height: 10px;
                    border-radius: 5px;
                    background: $kanban-green;
                    margin-right: auto;
                  }
                  .open-edit_container {
                    .open-edit {
                      display: flex;
                      place-items: center;
                    }
                  }

                  .icon {
                    color: #DBDBDB;
                    cursor: pointer;
                  }
                  .icon:hover {
                    color: #d5d5d5;
                    cursor: pointer;
                  }
                }

                .edit-form {
                  display: none;
                  position: relative; 
                }

                .item-text {

                  #text {
                    color: #333;
                    font-size: 16px;
                    font-weight: 600;
                    padding-left: 5px;
                  }


                }

                form {
                  .edit-grid {
                    display: grid;
                    grid-template-columns: auto 40px 40px;
                    align-items: center;

                    button {
                      width: 25px;
                      height: 25px;
                    }
                    .check-icon {
                      width: 25px;
                      height: 25px;
                      color: rgb(255, 255, 255);
                    }

                    .exit-icon {
                      width: 25px;
                      height: 25px;
                      color: rgb(255, 255, 255);
                    }

                    .check {
                      background: #94E5B3;
                      border-radius: 5px;
                    }
                    .check:focus {
                      outline: none;
                    }

                    .undo {
                      background: #e59494;
                      border-radius: 5px;
                    }
                    .undo:focus {
                      outline: none;
                    }
                  }
                  .kanban-input {
                    background: rgb(240, 240, 240);
                    width: max-content;
                    border-radius: 5px;
                    text-indent: 10px;
                    font-family: $primary-font;
                    caret-color: transparent;
                    height: 18px;
                  }

                  
                  .kanban-input:focus {
                    outline: none;
                  }
                }

                

              }      
                      
            }


          }




          
        }
        // .insert-item{
        //   insert: "<i class="material-icons">add_circle_outline</i>";
        //   display: block;
        //   position: absolute;
        //   bottom: -15px;
        //   left: 175px;
        // }
      }

      .buttons-container {
        width: 100%;
        height: 100%;
        display: flex;
        place-items: center;

        .buttons {
          width: 250px;
          height: 75px;
          display: flex;
          align-items: center;
          justify-content: center;

          .button {
            width: 65px;
            height: 65px;
            border-radius: 50%;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.164);
          }
          .button:focus {
            outline: none;
          }

          .btn-icon {
            font-size: 35px;
            color: #fff;
          }
          .btn-icon_separate {
            font-size: 30px;
            color: #fff;
          }

          #add {
            background: $kanban-blue;
          }

          #toggle-edit {
            background: $kanban-btn-yellow;
          }

          #toggle-remove {
            background: $kanban-btn-red;
          }
        }
      }
    }    
  }

  // .misc_spread-hd {
  //   padding-left: 1.5rem;
  //   padding-right: 1.5rem;
  //   box-sizing: border-box;
  //   margin-left: auto;
  //   margin-right: auto;   
  // }

  .misc_spread-sm {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  }

  .misc_spread-md {
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  }

}

   
  
  .char-limit_container {
    position: absolute;
    right: 0;

    p {
      color: #DBDBDB; // beginning
      color: $kanban-btn-yellow; // when close to limit
      color: $kanban-btn-red; // when limit hit 
      font-size: 14px;
    }
  }

@media only screen  
and (max-device-width : 1024px) {
  .container {
    .kanban-container {
      width: max-content;
      height: max-content;

      .kanban-structure {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto max-content;
        
        .buttons-container {
          padding: 25px;
        }
      }
    }    
  }



}

.dragging {
  
}